.callout {
	max-width: fit-content;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    padding: 10px;
    background-color: #073d5e;
    color: #fff;
        
}

.callout img {
	float: right;
    margin: 0, 0,0, 10pcc;
    border: 1px solid black;
    padding: 2px;
    background-color: #bbb;
    width: 100px;
    height: auto;

}

blockquote {
	margin: auto;
}

cite {
	display: block;
    border-top: 10px dotted #fff;
    padding-top: 10px;
    text-align: left;
    font-size: smaller

}